backend/scraper/__pycache__/__init__.cpython-311.pyc
backend/scraper/lib/__pycache__/__init__.cpython-311.pyc
backend/scraper/lib/__pycache__/scraper_abs.cpython-311.pyc
backend/scraper/lib/instagram/__pycache__/__init__.cpython-311.pyc
backend/scraper/lib/instagram/__pycache__/api.cpython-311.pyc
backend/scraper/lib/instagram/__pycache__/settings.cpython-311.pyc
nlp/data/output_v2.csv
nlp/data/output_filtered.csv
nlp/data/train.csv
nlp/test1.ipynb
nlp/nlp.ipynb
nlp/orc.ipynb
nlp/data/instagram_posts_v1.0.0.csv
nlp/data/instagram_posts.csv
backend/API server/data/benGvir_NLP_v2.joblib
backend/API server/__pycache__/nlp.cpython-311.pyc
backend/API server/__pycache__/main.cpython-311.pyc
backend/scraper/sean.cpp_settings.json
